doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= title
		each css in files.CSS
			link(rel="stylesheet", href=`../${css}`)
	body
		h1= title
		a(href="http://escuela.digital", target="_blank") Escuela Digital
		p.item Hola como están que les parece esta optimización?
		each js in files.JS
			script(src=`../${js}`)