$font-main: sans-serif;
$font-base: 16px;
$blue-dark: #1F3E79;
$blue-light: #2291D0;
$yellow: #FDD624;

html {
	font-family:  $font-main;
	font-size: $font-base;
	background-color: #000;
	color: #FFF;
}

a {
	color: $yellow;
	font-weight: bold;
}

a:hover { color: $blue-light; }

p {
	padding: 1rem;
	margin: 1rem;
	font-size: 2rem;
}